*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --bg-color-start: rgb(14, 20, 49);
    --bg-color-end: rgb(0, 74, 59);
    --btn-color: rgb(17, 53, 97);
    --next-btn-color: orange;
    --text-color: white;
    --btn-hover-color: rgb(185, 63, 29);
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color-start);
    background: linear-gradient(0deg, var(--bg-color-start) 0%, var(--bg-color-end) 100%);
    background-attachment: fixed;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
}

div {
    padding: 2% 10%;
}

h1 {
    font-size: 150%;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    font-size: 120%;
    border-radius: 10px;
    padding: 2%;
    margin: 1% 15% 1% 0%;
    text-align: left;
}

.btn:hover, .start-btn:hover, #back:hover, #clear:hover, #submit:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.start-btn, #back, #clear, #submit {
    background-color: var(--next-btn-color);
    border-radius: 10px;
    font-size: 110%;
    padding: 2%;
    text-align: left;
    margin: 1%;
}

.end {
    display: none;
    margin: 0;
}

.score-list {
    display: none;
    margin: 0;
}

a {
    font-size: 140%;
    padding: 1%;
    border-radius: 10px;
    color: var(--next-btn-color);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

h2 {
    display: flex;
    font-size: 140%;
    justify-content: center;
}

ul {
    font-size: 120%;
    margin: 0% 20% 0% 0%;
    background-color: rgb(110, 189, 169);
    color: black;
}

p {
    font-size: 120%;
}

li {
    margin: 0% 5%;
    font-size: 120%;
}